<div class="card-holder">
  <div class="card bg-gold">
    New York is Sunny today at 60°.
  </div>
</div>
<div class="card-holder">
  <div class="card bg-news">
    Breaking News <br/>
    Apple launches the new iPhone.
  </div>
</div>
<div class="card-holder">
  <div class="card bg-germany">
     Germany! Germany! Germany!!
  </div>
</div>
<div class="card-holder">
  <div class="card bg-aurora">
    New Planets<br/>Discovered
  </div>
</div>
<div class="card-holder">
  <div class="card bg-purple">
    The refreshing Black Currant Ice Cream is a wonderful treat.
  </div>
</div>
<div class="card-holder">
  <div class="card bg-spring">
   Keep Calm and Add Some Colors.
  </div>
</div>